In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

In [6]:
train_full = pd.read_csv('../input/tabular-playground-series-jan-2022/train.csv',index_col=0)

In [8]:
train_full

              date  country       store         product  num_sold
row_id
0       2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       2015-01-01  Finland  KaggleRama      Kaggle Hat       911
...            ...      ...         ...             ...       ...
26293   2018-12-31   Sweden  KaggleMart      Kaggle Hat       823
26294   2018-12-31   Sweden  KaggleMart  Kaggle Sticker       250
26295   2018-12-31   Sweden  KaggleRama      Kaggle Mug      1004
26296   2018-12-31   Sweden  KaggleRama      Kaggle Hat      1441
26297   2018-12-31   Sweden  KaggleRama  Kaggle Sticker       388

[26298 rows x 5 columns]

In [5]:
import matplotlib.pyplot as plt

In [11]:
ss = pd.read_csv('../input/tabular-playground-series-jan-2022/sample_submission.csv', index_col=0)
ss

        num_sold
row_id
26298        100
26299        100
26300        100
26301        100
26302        100
...          ...
32863        100
32864        100
32865        100
32866        100
32867        100

[6570 rows x 1 columns]

In [12]:
test_full = pd.read_csv('../input/tabular-playground-series-jan-2022/test.csv',index_col=0)

In [13]:
test_full

              date  country       store         product
row_id
26298   2019-01-01  Finland  KaggleMart      Kaggle Mug
26299   2019-01-01  Finland  KaggleMart      Kaggle Hat
26300   2019-01-01  Finland  KaggleMart  Kaggle Sticker
26301   2019-01-01  Finland  KaggleRama      Kaggle Mug
26302   2019-01-01  Finland  KaggleRama      Kaggle Hat
...            ...      ...         ...             ...
32863   2019-12-31   Sweden  KaggleMart      Kaggle Hat
32864   2019-12-31   Sweden  KaggleMart  Kaggle Sticker
32865   2019-12-31   Sweden  KaggleRama      Kaggle Mug
32866   2019-12-31   Sweden  KaggleRama      Kaggle Hat
32867   2019-12-31   Sweden  KaggleRama  Kaggle Sticker

[6570 rows x 4 columns]

In [24]:
z = train_full.query('country == "Finland" and store == "KaggleMart" and product == "Kaggle Mug"')
y = train_full.query('country == "Finland" and store == "KaggleRama" and product == "Kaggle Mug"')

In [25]:
z

              date  country       store     product  num_sold
row_id
0       2015-01-01  Finland  KaggleMart  Kaggle Mug       329
18      2015-01-02  Finland  KaggleMart  Kaggle Mug       318
36      2015-01-03  Finland  KaggleMart  Kaggle Mug       360
54      2015-01-04  Finland  KaggleMart  Kaggle Mug       332
72      2015-01-05  Finland  KaggleMart  Kaggle Mug       243
...            ...      ...         ...         ...       ...
26208   2018-12-27  Finland  KaggleMart  Kaggle Mug       414
26226   2018-12-28  Finland  KaggleMart  Kaggle Mug       499
26244   2018-12-29  Finland  KaggleMart  Kaggle Mug       774
26262   2018-12-30  Finland  KaggleMart  Kaggle Mug       757
26280   2018-12-31  Finland  KaggleMart  Kaggle Mug       469

[1461 rows x 5 columns]

In [26]:
y

              date  country       store     product  num_sold
row_id
3       2015-01-01  Finland  KaggleRama  Kaggle Mug       572
21      2015-01-02  Finland  KaggleRama  Kaggle Mug       544
39      2015-01-03  Finland  KaggleRama  Kaggle Mug       579
57      2015-01-04  Finland  KaggleRama  Kaggle Mug       582
75      2015-01-05  Finland  KaggleRama  Kaggle Mug       423
...            ...      ...         ...         ...       ...
26211   2018-12-27  Finland  KaggleRama  Kaggle Mug       652
26229   2018-12-28  Finland  KaggleRama  Kaggle Mug       895
26247   2018-12-29  Finland  KaggleRama  Kaggle Mug      1398
26265   2018-12-30  Finland  KaggleRama  Kaggle Mug      1241
26283   2018-12-31  Finland  KaggleRama  Kaggle Mug       831

[1461 rows x 5 columns]

In [32]:
train_full['country'].unique()

array(['Finland', 'Norway', 'Sweden'], dtype=object)

In [31]:
train_full['product'].unique()

array(['Kaggle Mug', 'Kaggle Hat', 'Kaggle Sticker'], dtype=object)

In [27]:
t = test_full.query('country == "Finland" and store == "KaggleMart" and product == "Kaggle Mug"')

Splits only make sense on the time axis. Random split won't do -- neighbouring rows have a tendency to be similar. The validation split should have similar stats to test split. So let's see test split stats.

In [35]:
train_full.country.value_counts()

Finland    8766
Norway     8766
Sweden     8766
Name: country, dtype: int64

In [34]:
test_full.country.value_counts()

Finland    2190
Norway     2190
Sweden     2190
Name: country, dtype: int64

In [28]:
t

              date  country       store     product
row_id
26298   2019-01-01  Finland  KaggleMart  Kaggle Mug
26316   2019-01-02  Finland  KaggleMart  Kaggle Mug
26334   2019-01-03  Finland  KaggleMart  Kaggle Mug
26352   2019-01-04  Finland  KaggleMart  Kaggle Mug
26370   2019-01-05  Finland  KaggleMart  Kaggle Mug
...            ...      ...         ...         ...
32778   2019-12-27  Finland  KaggleMart  Kaggle Mug
32796   2019-12-28  Finland  KaggleMart  Kaggle Mug
32814   2019-12-29  Finland  KaggleMart  Kaggle Mug
32832   2019-12-30  Finland  KaggleMart  Kaggle Mug
32850   2019-12-31  Finland  KaggleMart  Kaggle Mug

[365 rows x 4 columns]